.addbtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #5f33e1;
  border: #5f33e1;
  font-size: 1.3rem;
  color: white;
}
