.calendarview {
  margin-top: 3.5rem;
  height: 100dvh;

  &__tasklist {
    overflow: scroll;
    max-height: 56vh;
  }

  @media (min-width: 599px) {
    margin-top: 0rem;

    &__tasklist {
      overflow: scroll;
      max-height: 80%;
    }
  }
}
